<%- include('partials/head.ejs') %>
<%- include('partials/header_small.ejs') %>

<main class="main-body">
    <div class="contenedor-main container">
        <h2 class="titulo-seccion">Publicar mi cartel</h2>

        <div class="box-view">
            <div class="box-container-view ">
                <form
                    action="/editar/cartel/<%= cartelElegido.id %>?_method=PUT" method="POST"
                    
                    class="ui-form">
                    <p class="titulo-content">
                      Modificar mi cartel
                    </p>
                    <p class="form-content">

                        <label for="domiclioCartel">Domicilio apróximado:</label>
                        <input value="<%= cartelElegido.domiclioCartel %>" id="inputdireccion" type="text" name="domiclioCartel" required>
                        
                    </p>
                    <p class="form-content">
                    
                        <label for="numero">Número o altura de calle:</label>
                        <input value="<%= cartelElegido.numero %>" id="numero" type="number" name="numero" required>
                    </p>
                    <p class="form-content">
                        <label for="entreCalles1">Entre calle:</label>
                        <input  value="<%= cartelElegido.entreCalles1 %>" class="input_50" type="text" name="entreCalles1"
                            class="input-medum">
                    </p>
                    <p class="form-content">
                        <label for="entreCalles2">Y la calle:</label>
                        <input  value="<%= cartelElegido.entreCalles2 %>"class="input_50" type="text" name="entreCalles2"
                            class="input-medum">
                    </p>
                    <p class="form-content">
                        <label for="refubicacion">Referencias del lugar:</label>
                        <textarea name="refubicacion"><%= cartelElegido.refubicacion%></textarea>
                    </p>
                    <p class="titulo-content margin">Especificaciones </p>
                    <p class="form-content">
                       
                        <label for="tipoCartel">Tipo de cartel:</label>
                         <select name="TipoDeCartel" id="tipoCartel">
                            <option value="Cartel Led" <%=("Cartel Led" == cartelElegido.TipoDeCartel) ? "selected" : ""%>>Cartel Led</option>
                            <option value="Cartel de Pantalla" <%=("Cartel de Pantalla" == cartelElegido.TipoDeCartel) ? "selected" : ""%>>Cartel de Pantalla</option>
                            <option value="Cartel de Ploteo" <%=("Cartel de Ploteo" == cartelElegido.TipoDeCartel) ? "selected" : ""%>>Cartel de Ploteo </option>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="ClasifiacionCarte">Clasificación </label>
                        <select name="ClasifiacionCartel">
                            <option value="Cartel de pared" <%=("Cartel de pared" == cartelElegido.ClasifiacionCartel) ? "selected" : ""%>> Cartel de pared</option>
                            <option value="Cartel de parada de colectivo"<%=("Cartel de parada de colectivo" == cartelElegido.ClasifiacionCartel) ? "selected" : ""%>>Cartel de parada de colectivo</option>
                            <option value="Cartel de ruta" <%=("Cartel de ruta" == cartelElegido.ClasifiacionCartel) ? "selected" : ""%>>Cartel de ruta </option>
                            <option value="Cartel de autopista" <%=("Cartel de autopista" == cartelElegido.ClasifiacionCartel) ? "selected" : ""%>>Cartel de autopista </option>
                            <option value="Cartel de tranporte público" <%=("Cartel de tranporte público" == cartelElegido.ClasifiacionCartel) ? "selected" : ""%>> Cartel de tranporte público </option>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="expocision">Tipo de exposición:</label>
                        <select name="expocision" id="expocision" required>
                            
                            <option value="Para campañas cortas" <%=("Para campañas cortas" == cartelElegido.expocision) ? "selected" : ""%>> Para campañas cortas </option>
                            <option value="Para campañas largas"<%=("Para campañas largas" == cartelElegido.expocision) ? "selected" : ""%>>Para campañas largas</option>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="trafico">Tráfico apróx. por día:</label>
                        <select name="trafico" id="trafico" required>
                          
                            <option value="Hasta 3000 personas"<%=("Hasta 3000 personas" == cartelElegido.trafico) ? "selected" : ""%>>Hasta 3000 personas </option>
                            <option value="Hasta 10000 personas"<%=("Hasta 10000 persona" == cartelElegido.trafico) ? "selected" : ""%>>Hasta 10000 personas</option>
                            <option value="Entre 10000 y 20000 personas"<%=("Entre 10000 y 20000 personas" == cartelElegido.trafico) ? "selected" : ""%>>Entre 10000 y 20000 personas</option>
                            <option value="Más de 20000 personas"<%=("Más de 20000 personas" == cartelElegido.trafico) ? "selected" : ""%>>Más de 20000 personas</option>
                        </select>
                    </p>

                    <p class="titulo-content margin">
                        Medidas apróximadas
                    </p>
                <p class="form-content input_50">
                    <label for="medidasCartelAlto">Alto: </label>
                    <input class="small" value="<%= cartelElegido.medidasCartelAlto %>" required placeholder="6 metros" type="number" name="medidasCartelAlto">
                </p>
                <p class="form-content input_50">
                    <label for="medidasCartelAncho">Ancho:</label>
                    <input class="small" value="<%= cartelElegido.medidasCartelAncho %>" required placeholder="8 metros" type="number" name="medidasCartelAncho">
                </p>
                <p class="titulo-content margin">Valor de alquiler por mes</p>
                <p class="form-content input_50">
                    <label for="valor">Valor: </label>
                    <input value="<%= cartelElegido.valor %>"" class="small" required placeholder="10000" type="number" name="valor">
                </p>


                    <div class="box-buttom ">
                        <button type="submit" class="btn">Modificar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>