<%- include('partials/head.ejs') %>
<%- include('partials/header_small.ejs') %>

<main class="main-body">
    <div class="contenedor-main container">
        <h2 class="titulo-seccion">Listado de carteles</h2>

        <div class="box-view container">
            <div class="box-container-view">
                <% productos.forEach(unProducto => { %> 
                <div class="listado_productos">
                <div class="row">
                    <div class="col-12 col-md-4 box-img"> 
                        <img src="/images/imagescartel/<%= unProducto.imagen %>">
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="estrellas">
                            <!-- Loop para plotear las estrellas rellenas o vacias del puntaje del cartel -->
                            <% for(let j=0;j<unProducto.estrellas;j++){ %>
                            <span class="fa fa-star checked"></span>
                            <%}
                                                        for(j=unProducto.estrellas; j<5;j++){
                                                                                                    %>
                            <span class="fa fa-star n_checked"></span>
                            <%}%>
                                                    
                         </p>
                       
                        <h2 class="capitalize"> <%= unProducto.domiclioCartel %> <%= unProducto.numero %> </h2>
                       
                        <p> Entre <%= unProducto.entreCalles1 %> y  <%= unProducto.entreCalles2 %>. <%= unProducto.barrio %>, <%= unProducto.provincia %></p>
            
                        
                        <p> <strong>Referencias:</strong> <%= unProducto.refubicacion %></p>
                       
                        <p><strong>Especificaciones:</strong></p>
                        <p> Medida: <%= unProducto.medidasCartelAncho %> x <%= unProducto.medidasCartelAlto %> metros.</p>
                        <p><%= unProducto.TipoDeCartel %> | <%= unProducto.ClasifiacionCartel %></p>
                        <p><%= unProducto.expocision %> | <%= unProducto.trafico %> </p>
                   
                        <p><strong>Valor por mes: <%= unProducto.valor %></strong></p>
                        </div>
                    <div class="col-12 col-md-2 listado_btn">
                    <form action="/productos/editar/<%= unProducto.id %>?_method=PUT" method="POST">
                        <button class="btn-edit" type="submit">Editar datos</button>
                    </form>
                    <form action="/productos/borrar/<%= unProducto.id %>?_method=DELETE" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                        
                    </div>
                   
                  
                </div>
            
                
                </div>
            <% }) %>
        </div>
    </div>
 </main>




<%- include('partials/footer.ejs') %>