<%- include('partials/head.ejs') %>
<%- include('partials/header_small.ejs') %>

<main class="main-body">
    <div class="contenedor-main container">
        <h2 class="titulo-seccion">Listado de carteles</h2>

        <div class="box-view container">
            <div class="box-container-view row">
                <% productos.forEach(unProducto => { %>
                <div class="listado_productos col-12 col-md-11"> 
                <h2> <%= unProducto.domiclioCarel %> </h2>
                <p> Entre calles <%= unProducto.entreCalles1 %> y calle <%= unProducto.entreCalles2 %></p>
                <p> Referencias: <%= unProducto.refubicacion %></p>
                <p> Tipo de cartel: <%= unProducto.TipoDeCartel %></p>
                <p> Clasificación: <%= unProducto.ClasifiacionCartel %></p>
                <p> Medidas: <%= unProducto.medidasCartelAncho %> x <%= unProducto.medidasCartelLargo %> metros.</p>
                </div>
                <div class="listado_btn col-12 col-md-1 no-gutters">
                <form action="/productos/borrar/<%= unProducto.id %>?_method=DELETE" method="POST">
                    <button  class = "btn_borrar" type="submit">BORRAR</button>
                </form>
                    <form action="/productos/editar/<%= unProducto.id %>?_method=PUT" method="POST">
                        <button class="btn_borrar" type="submit">EDITAR</button>
                    </form>
                </div>
            <% }) %>
        </div>
    </div>
 </main>




<%- include('partials/footer.ejs') %>