<%- include('partials/head.ejs') %>
<%- include('partials/header_small.ejs') %>

<main class="main-body">
    <div class="contenedor-main container">
        <h2 class="titulo-seccion">Publicar mi cartel</h2>

        <div class="box-view">
            <div class="box-container-view ">
                <form action="/products/listado" method="POST" class="ui-form" enctype="multipart/form-data">
                    <p class="titulo-content">
                        Ubicación del cartel
                    </p>
                    <p class="form-content">

                        <label for="domiclioCartel">Domicilio apróximado:</label>
                        <input id="inputdireccion" placeholder="Avenida Corrientes" type="text" name="domiclioCartel">
                    </p>
                    <p class="form-content">

                        <label for="numero">Número o altura de calle:</label>
                        <input id="numero" type="number" name="numero">
                    </p>


                    <p class="form-content">
                        <label for="entreCalles1">Entre calle:</label>
                        <input placeholder="Calle 2"  class="input_50" type="text" name="entreCalles1"
                            class="input-medum">
                    </p>
                    <p class="form-content">
                        <label for="entreCalles2">Y la calle:</label>
                        <input placeholder="Calle 2"  class="input_50" type="text" name="entreCalles2"
                            class="input-medum">
                    </p>
                    <p class="form-content">
                        <!--aca puedo tener un array de barrios e imprimir en un combo.-->
                        <label for="barrio">Barrio o localidad:</label>
                        <input id="barrio" type="text" name="barrio" >
                    </p>
                    <p class="form-content">
                        <label for="provincia">Provincia:</label>
                        <input id="provincia" type="text" name="provincia" >
                    </p>
                    <p class="form-content">
                        <label for="refubicacion">Referencias del lugar:</label>
                        <textarea name="refubicacion" ></textarea>
                    </p>

                    <p class="form-content">
                        <label for="imagen">Imagen:</label>
                        <input type="file" name="imagen" id="imagen">
                    </p>
                    <p class="titulo-content margin">Especificaciones</p>
                    <p class="form-content">
                        <label for="tipoCartel">Tipo de cartel:</label>
                        <select name="TipoDeCartel" id="tipoCartel">
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <% tech.forEach(cartel => { %>
                            <option value="<%= cartel.id %>"><%= cartel.sign_tech %> </option>
                            <% });%>
                        </select>
                    
                    
                    </p>
                    <p class="form-content">
                        <label for="ClasifiacionCarte">Clasificación: </label>
                        <select name="ClasifiacionCartel" requiredrequired>
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <% type.forEach(cartel => { %>
                            <option value="<%= cartel.id %>"><%= cartel.sign_type %> </option>
                            <% });%>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="expocision">Tipo de exposición:</label>
                        <select name="expocision" id="expocision" >
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <option value="Para campañas cortas"> Para campañas cortas </option>
                            <option value="Para campañas largas">Para campañas largas</option>
                        </select>
                    </p>
                    <p class="form-content">
                        <label for="trafico">Tráfico apróx. por día:</label>
                        <select name="trafico" id="trafico" >
                            <option value="" selected disabled hidden> Seleccionar </option>
                            <option value="Hasta 3000 personas">Hasta 3000 personas </option>
                            <option value="Hasta 10000 personas">Hasta 10000 personas</option>
                            <option value="Entre 10000 y 20000 personas">Entre 10000 y 20000 personas</option>
                            <option value="Más de 20000 personas">Más de 20000 personas</option>
                        </select>
                    </p>
                    <p class="titulo-content margin">
                        Medidas apróximadas
                    </p>
                    <p class="form-content input_50">
                        <label for="medidasCartelAlto">Alto: </label>
                        <input class="small"  placeholder="6 metros" type="number" name="medidasCartelAlto">
                    </p>
                    <p class="form-content input_50">
                        <label for="medidasCartelAncho">Ancho:</label>
                        <input class="small"  placeholder="8 metros" type="number" name="medidasCartelAncho">
                    </p>
                    <p class="titulo-content margin">Valor de alquiler por mes</p>
                    <p class="form-content input_50">
                        <label for="costo">Valor: </label>
                        <input class="small"  placeholder="10000" type="number" name="costo" id="costo">
                    </p>

                   
                    <div class="box-buttom ">
                        <button type="submit" class="btn">Continuar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

<%- include('partials/footer.ejs') %>