
    <%- include('partials/head.ejs') %>

    <%- include('partials/header_medium.ejs') %>

    <!-- Main Body -->
    <main class="main-body">
        <div class="container container_resultado">
            <h2 class="titulo-seccion"> Resultado de busqueda: <%= busqueda %></h2>
            <div class="filtros">
                <ul>
                     <li>Ordernar por puntaje <input type="radio" name="ordenar" value="puntaje"></li>
                    <li>Ordernar por precio <input type="radio" name="ordenar" value="precio"></li>
                </form>
                    <li><a>Cantidad de resultados: <%= cartelesDb.length %>  </a></li>
                </ul>
            </div>
            <div class="row no-gutters">

<!-- LOGICA PARA IMPRIMIR LOS "RESULTADOS DE LAS BUSQUEDA" -->

               <% for(let i=0;i<cartelesDb.length;i++){ %>
                    <div class="col-12 col-md-6  bloque_resultado">
                        <a href="/detalle/<%= cartelesDb[i].id %>" > 
                            <div class="row resultados_producto no-gutters">
                                <div class="col-12">
                                    <div class="img_producto">
                                        <img src="/images/imagescartel/<%=cartelesDb[i].picture_filename%>" width="100%" alt="">
                                    </div>
                                </div>
                                <div class="col-12 producto_info">
                                    <div class="flex-probar">
                                        <div class="uno">
                                            <em class="tipo_cartel">
                                                <%= cartelesDb[i].types.sign_type %>
                                            </em>
                                            <p class="estrellas">
                                                <!-- Loop para plotear las estrellas rellenas o vacias del puntaje del cartel -->
                                                <% for(let j=0;j<cartelesDb[i].star;j++){ %>
                                                    <span class="fa fa-star checked"></span>
                                                <%}
                                                for(j=cartelesDb[i].star; j<5;j++){
                                                %>
                                                 <span class="fa fa-star n_checked"></span>
                                                <%}%>

                                            </p>

                                            <p class="p_direccion"><%= cartelesDb[i].address %> <%= cartelesDb[i].street_number %></p>
                                            <p class="p_calles"> Entre las calles <%= cartelesDb[i].street_1%> y <%= cartelesDb[i].street_2  %>. <%= cartelesDb[i].city%>, <%= cartelesDb[i].state  %>  </p>
                                            <p class="p_medidas"> 
                                                Medidas:  <span class="fas fa-arrows-alt-v" class=" arrow_height"></span> <%= cartelesDb[i].height %> mts x <span class="fas fa-arrows-alt-h" class=" arrow_width"></span>  <%= cartelesDb[i].width %> mts 
                                            </p>
                                        </div>

                                        <p class="p_costo">Valor mensual $<%= cartelesDb[i].monthly_cost%></p>
                                    </div>

                                </div>

                            </div>
                        </a>
                    </div>
                <%}%>
                    
                

            <!-- Paginado de resultados de busqueda/ para cuando la base de datos sea mucho mayor-->
            <!-- <div class="row p_paginado">
                <div class="col-12 nopadding">
                    <p class="paginado_contenido"> <a href="detalle.html">1</a> <a href="detalle.html">2</a> <a
                            href="detalle.html">3</a> <a href="detalle.html"><span class="arrow">&#10148;</span></a></p>
                </div>
            </div> -->
        </div>

        </div>

    </main>
    <%- include('partials/footer.ejs') %>
